.App {
  display: flex;
  flex-direction: row;
  /* background: linear-gradient(180deg, #ff9770 20%, #ff9770 20%, #ffd670 20%, #e9ff70 20% ); */
}

.nav {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
}

.nav-list {
  background-color: #ff70a6;
  list-style-type: none;
  height: 100vh;
}